*{
    box-sizing: border-box;
}

body{
    margin: 20px 80px;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: green;
    letter-spacing: 5px;
    
}
h3{
    color: green;
    font-family: 'Lexend Deca', sans-serif;
}

#photo{
    height: 10rem;
    width: 10rem;
}

.contact{
    display: flex;
}

.contactinfo{
    padding-right: 2rem;
}

.contactphoto{
    /* margin-top: 2rem; */
    padding: 2rem
}

p, h4{
    font-family: 'Livvic', sans-serif;
}

.school1, .school2{
    margin-bottom: 2rem
}

.skills, .language, .experience, .education, .lang, .contact{
    margin-bottom: 3rem;
}

#mail{
    color: blue;
}

#contactbtn, #subbtn, .backbtn{
    border-style: none;
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    display: block;
    color: white;
    background-color: green;
    margin-top: 10px;
    box-shadow: 2px 2px 2px green;  
    font-size: large;
}

#myform{
    display: none;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.form-field{
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.input-field{
    height: 2rem;
    width: 15rem;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #ccc;

}

.message-field{
    width: 15rem;
    height: 15rem;
    border-style: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}